
body {

font-family: "Avenir", 'helvetica neue', 'helvetica', 'arial' !important;
    background: #2a3b4b;
    background-size: 108px 108px;
}	

.jumbotron {
    background: transparent;
    padding: 0;
    color: white;
}

form {

	    padding-top: 30px;
    padding-bottom: 50px;

}

h2{
	color: #bde0f4;
}

strong {
    display: block;
    padding-top: 20px;
    font-size: 24px;
    font-weight: normal;
}

h1{
    color: white;
    font-size: 43px;
}

label{
    color: #bde0f4;
}

p{
    color: #bde0f4;
}

h4{
    color: white;
}

.btn{
     margin-top: 30;
}