layout-frontpage {
    max-width: 1020px;
}



body {

font-family: "Avenir", 'helvetica neue', 'helvetica', 'arial' !important;
    background: #2a3b4b;
    background-size: 108px 108px;
}	

.jumbotron {
    background: transparent;
    padding: 0;
    color: white;

}

form {

	    padding-top: 30px;
    padding-bottom: 120px;
    font-size: 18px;

}

h1 {
    color: white;
}

h2 {
	color: #bde0f4;
    font-size: 25px;
}

strong {
    display: block;
    padding-top: 20px;
    font-size: 24px;
    font-weight: normal;
}

.title_head {
    color: white;
    font-size: 43px;
}

label{
    color: #bde0f4;
}

p{
    color: #bde0f4;
}

h4{
    color: white;
}

.btn{
     margin-top: 30;
     font-size: 20;
}



.brand{

    top: 6px;
    float: right;
}

#dateselector{
    position: relative;
    left: 8px;
}

#submit{
    position: relative;
    left: 28px;
}

h3{
    color: white;
}

.signin {
    border: 1px solid white;
    border-radius: 35px;
    border-color: rgba(255, 155, 255, 0.25);
}

.navbar {
    padding-top: 10px;
    padding-bottom: 20px:  
    background: #2a3b4b;
    font-size: 12px;
}

#indexBtn {
    font-size: 18px;
}

.contentInfo {
    
}

.row {
    padding-bottom: 20px;
}

img {
    padding-top: 20px;
}

.buttonInfo {
    padding-top: 30px;
    background: white;
    text-align: center;
}

.buttonTitle {
    color: black;
    font-size: 34px;
}

.buttonP {
    color: #818a92;
    font-size: 20px;
}












