<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <link rel="stylesheet" type="text/css" href="css/style.css">

	
</head>
<body>
    
    <nav class="navbar navbar-default navbar-inverse navbar-static-top main" role="navigation">
            
                <div class="container">

                  <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav choose_page">                    
                            
                                <li class="about"><a href="/">ABOUT</a></li>
                                <li class="jobs"><a href="/jobs">JOBS</a></li>
                                <li class="contact"><a href="/contact">CONTACT</a></li>
                                <li class="signin"><a href="/signup">SIGN UP</a></li>
                                                
                        </ul>

                       
                            <li class="brand">
                            <h4>
                            <span class="glyphicon glyphicon-glass"></span>   The Date Night App</h4>
                            </li>
                       


                        
                    </div><!-- /.navbar-collapse -->

                    

                </div>
            </nav>


    <div class="container">
        <div>
            <h1> Want to know more the app</h1>

            <h2>Contact our customer service, Miguel Mejares: mmejares@hotmail.com</h2>

            <hr>

            <p>Need an account? <a href="/signup">Signup</a></p>
            <p>Or go <a href="/">home</a></p>
        </div>
    </div>
</body>
</html>
