<html lang="en"><head>
	<meta charset="UTF-8">
	<title>Date Night</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script type="text/javascript" src="http://api.eventful.com/js/api"> </script>
	


</head>

<body class="layout-frontpage">

	<div class="wrapper">
		
		<div class="top_wrapper">

			<nav class="navbar navbar-default navbar-inverse navbar-static-top main" role="navigation">
			
				<div class="container">

				  <!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
					    <ul class="nav navbar-nav choose_page">				       
					        
					            <li class="about"><a href="/">About</a></li>
					        
					        
					            <li class="jobs"><a href="/jobs">Jobs</a></li>
					        
					        
					            <li class="contact"><a href="/contact">Contact</a></li>
					        
					            <li class="help"><a href="/help">Help</a></li>
					        
					            <li class="blog"><a href="/blog">Blog</a></li> 
					        
					        
					            <li class="signin"><a href="/singIn">Sign in</a></li>
					        
					    </ul>
					    
					</div><!-- /.navbar-collapse -->
				</div>
			</nav>


			 
			<div class="jumbotron text-center">
				
				<div class="container">

				    <i class="icon icon-timelylogo large_bg"></i>

				    <h1>Gussy Up and Grab Your Date!</h1>
				    <h2>Here are some events going on around you.</h2>

				    

				    
				</div><!--container-->

			</div><!--jumbotron-->

		</div><!--top_wrapper-->

		<div class="panel-body" id="ListEvents">
				
					<!-- Content will go in here -->

		</div>

	</div><!--wrapper-->	

	<script src="js.js" type="text/javascript"></script>


</body></html>