<html lang="en"><head>
	<meta charset="UTF-8">
	<title>Date Night</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script src="https://code.jquery.com/jquery.js"></script>
	


</head>

<body class="layout-frontpage">

	<div class="wrapper">
		
		<div class="top_wrapper">

			<nav class="navbar navbar-default navbar-inverse navbar-static-top main" role="navigation">
			
				<div class="container">

				  <!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
					    <ul class="nav navbar-nav choose_page">				       
					        
					            <li class="about"><a href="/">ABOUT</a></li>
					            <li class="jobs"><a href="/jobs">JOBS</a></li>
					            <li class="contact"><a href="/contact">CONTACT</a></li>
					            <li class="signin"><a href="/login">LOG IN</a></li>
					         			        
					    </ul>

					   
					    	<li class="brand">
					    	<h4>
					    	<span class="glyphicon glyphicon-glass"></span>   The Date Night App</h4>
					    	</li>
					   


					    
					</div><!-- /.navbar-collapse -->

					

				</div>
			</nav>


			 
			<div class="jumbotron text-center">
				
				<div class="container">

				    <i class="icon icon-timelylogo large_bg"></i>

				    <h5 class="title_head">Need A Date Night? Look No Further!</h1>
				    <h2>Tell us what you like to do and then get ready for an amazing date night.</h2>

				    <form>
					    <div class="sign_up center-block no-gutter">

					    	<div class="col-md-3"></div>
					        

					        <div class="col-xs-12 col-sm-5 col-md-3">
					          <a href="/login"> 
					          	<input class="btn btn-success signup_email" style="width:100%" value="Login">
					          </a>	
					        </div>

					        <div class="col-xs-12 col-sm-5 col-md-3">
					        	<a href="/signup">
					          		<input class="btn btn-success signup_email" style="width:100%" value="Create free account">
					          	</a>
					        </div>

					        <div class="col-md-3"></div>


					    </div>
				    </form>

				    <div class="video_wrapper main_sell">
					    <div class="col-xs-12 col-sm-4">
						    <img src="images/work@2x.png" class="retina" width="160" height="130">
						    <br>
						    <strong>1. Tell us what you like to do</strong>
					    </div>
						<div class="col-xs-12 col-sm-4">
						    <img src="images/log@2x.png" class="retina" width="160" height="130">
						    <br>
						    <strong>2. Get activity information</strong>
					    </div>
					    <div class="col-xs-12 col-sm-4">
						    <img src="images/track@2x.png" class="retina" width="160" height="130">
						    <br>
						    <strong>3. Enjoy your date night!</strong>
					    </div>
					    				
				    </div>

				</div><!--container-->

			</div><!--jumbotron-->

		</div><!--top_wrapper-->

		<div class="buttonInfo">

			<div class="row">

				<div class="col-xs-12 col-sm-1">
					
				</div>
				
				<div class="col-xs-12 col-sm-10">

					<h2 class="buttonTitle">Your Date Night App</h2>
					<br>
					<p class="buttonP">Provide ways for couple to interact more with each other according to their interest outside of virtual world.</p>
					<p class="buttonP">Improve relationship between couple through live activities than through text messages.</p>
					<p class="buttonP">Resulting in better understandings.</p>
					<p class="buttonP">Hope generate great fun and romantic memories</p>
					

				</div>
						    
				<div class="col-xs-12 col-sm-1">

				</div>

			</div>



			<div class="row">

				<div class="col-xs-12 col-sm-2">
					
				</div>
				
				<div class="col-xs-12 col-sm-6">
					<img src="images/indexIMG.png" width="800" height="380">
				</div>
						    
				<div class="col-xs-12 col-sm-4">

				</div>

			</div>
			


		</div>

	</div><!--wrapper-->	


</body></html>