<html lang="en"><head>
	<meta charset="UTF-8">
	<title>Date Night</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script src="https://code.jquery.com/jquery.js"></script>
	


</head>

<body class="layout-frontpage">

	<div class="wrapper">
		
		<div class="top_wrapper">

			<nav class="navbar navbar-default navbar-inverse navbar-static-top main" role="navigation">
			
				<div class="container">

				  <!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
					    <ul class="nav navbar-nav choose_page">				       
					        
					            <li class="about"><a href="/about">About</a></li>
					        
					        
					            <li class="jobs"><a href="/jobs">Jobs</a></li>
					        
					        
					            <li class="contact"><a href="/contact">Contact</a></li>
					        
					            <li class="help"><a href="/help">Help</a></li>
					        
					            <li class="blog"><a href="/blog">Blog</a></li> 
					        
					        
					            <li class="signin"><a href="/singIn">Sign in</a></li>
					        
					    </ul>
					    
					</div><!-- /.navbar-collapse -->
				</div>
			</nav>


			 
			<div class="jumbotron text-center">
				
				<div class="container">

				    <i class="icon icon-timelylogo large_bg"></i>

				    <h1>Date Night. Great Time.</h1>
				    <h2>Check out the activites around you.</h2>

				    <form>
					    <div class="sign_up center-block no-gutter">

					    	<div class="col-md-3"></div>
					        

					        <div class="col-xs-12 col-sm-5 col-md-3">
					          <a href="/login"> 
					          	<input class="btn btn-success signup_email" style="width:100%" value="Sing In">
					          </a>	
					        </div>

					        <div class="col-xs-12 col-sm-5 col-md-3">
					        	<a href="/signup">
					          		<input class="btn btn-success signup_email" style="width:100%" value="Create free account">
					          	</a>
					        </div>

					        <div class="col-md-3"></div>


					    </div>
				    </form>

				    <div class="video_wrapper main_sell">
					    <div class="col-xs-12 col-sm-4">
						    <img src="/images/day_view/work@2x.png" class="retina" width="210" height="180">
						    <br>
						    <strong>1. Enter What you like</strong>
					    </div>
						<div class="col-xs-12 col-sm-4">
						    <img src="/images/day_view/track@2x.png" class="retina" width="210" height="180">
						    <br>
						    <strong>2. Get activitie information</strong>
					    </div>
					    <div class="col-xs-12 col-sm-4">
						    <img src="/images/day_view/log@2x.png" class="retina" width="210" height="180">
						    <br>
						    <strong>3. Enjoy</strong>
					    </div>
					    				
				    </div>

				</div><!--container-->

			</div><!--jumbotron-->

		</div><!--top_wrapper-->

	</div><!--wrapper-->	

</body></html>