<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

	<link rel="stylesheet" type="text/css" href="css/style.css">


	
</head>

<body>

	<nav class="navbar navbar-default navbar-inverse navbar-static-top main" role="navigation">
			
				<div class="container">

				  <!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
					    <ul class="nav navbar-nav choose_page">				       
					        
					            <li class="about"><a href="/">ABOUT</a></li>
					            <li class="jobs"><a href="/jobs">JOBS</a></li>
					            <li class="contact"><a href="/contact">CONTACT</a></li>
					            <li class="signin"><a href="/login">LOG IN</a></li>
					         			        
					    </ul>

					   
					    	<li class="brand">
					    	<h4>
					    	<span class="glyphicon glyphicon-glass"></span>   The Date Night App</h4>
					    	</li>
					   


					    
					</div><!-- /.navbar-collapse -->

					

				</div>
			</nav>



	<div class="container">

		<div class="col-sm-6 col-sm-offset-3">

			<h1><span class="fa fa-sign-in"></span> Date Night Signup</h1>

			<!-- show any messages that come back with authentication -->
			<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
			<% } %>

			<!-- LOGIN FORM -->
			<form action="/signup" method="post">
				<div class="form-group">
					<label>Username</label>
					<input type="text" class="form-control" name="username">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password">
				</div>

				<button type="submit" class="btn btn-success btn-lg">Signup</button>
			</form>

			<hr>

			<p>Already have an account? <a href="/login">Login</a></p>
			<p>Or go <a href="/">home</a></p>

		</div>

	</div>
</body>
</html>
